@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
/* font-family: 'SF Pro Display',"sans-serif"; */
@import "tailwindcss";

@theme {
    --font-Ifont: "SF Pro Display", "sans-serif";
    

   
}

/* navbar------------- */
.navlist>li{
    margin-left: 8px;
    margin-right: 8px;
    color: rgba(0, 0, 0,.8);
    /* font-family: 'SF Pro Display',"sans-serif"; */
 
}
